@{
    ViewBag.Title = "Centric Employee Recognition";
}

<div class="jumbotron">
    <h1>Centric Recognition Dashboard </h1>
    <p class="lead">Centric Consulting is a leading consulting company that strives to have employees lead through the seven core values. This recognition page allows top employees to be recognized for demonstarting how they use the core values.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Centric Core Values </h2>
        <p>
           Commit to Delivery Excellence <br />
            Embrace Integrity and Openness <br />
            Practice Responsible Stewardship<br />
            Invest in an Exceptional Culture<br />
            Ignite Passion for the Greater Good<br />
            Strive to Innovate<br />
            Live a Balanced Life <br />
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Top Employees</h2>
        <p>Here you will find a scoreboard for the employees who have recently received a recognition card.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>